/* style.css */

:root {
    --card-bg-color: beige;
    --button-bg-color: coral;
    --form-bg-color: lightskyblue;
    --form-after-bg-color: lightgray;
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
}

form {
    position: absolute;
    top: 25%;
    left: 25%;

    width: 40%;
    
    background-color: var(--form-bg-color);
    font-size: 1em;

    padding: 0.5em 1.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: scale(0);
    transition: transform 250ms ease-in;
}

form::before {
    content: "";
    background-color: var(--form-after-bg-color);
    position: absolute;
    top: -25vh;
    left: -25vw;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.4;
}

